{% extends 'base.html' %}

{% block title %}
    Авторы
{% endblock %}

{% block content %}
    <div class="container card-container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="../static/books/Tolstoy.jpg" class="card-img-top" alt="Изображение 1">
                    <div class="card-body">
                        <h5 class="card-title">Лев Николаевич Толстой</h5>
                        <p class="card-text">один из наиболее известных русских писателей и мыслителей, один из величайших в мире
                            писателей-романистов. Участник обороны Севастополя. Просветитель,
                            публицист, религиозный мыслитель. Член-корреспондент Императорской Академии наук (1873),
                            почётный академик по разряду изящной словесности (1900).
                            Был номинирован на Нобелевскую премию по литературе (1902, 1903, 1904, 1905).
                            Впоследствии отказался от дальнейших номинаций. Классик мировой литературы.</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%BE%D0%BB%D1%81%D1%82%D0%BE%D0%B9,_%D0%9B%D0%B5%D0%B2_%D0%9D%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0%D0%B5%D0%B2%D0%B8%D1%87" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../static/books/Dostoevsky.jpg" class="card-img-top" alt="Изображение 2">
                    <div class="card-body">
                        <h5 class="card-title">Фёдор Михайлович Достоевский</h5>
                        <p class="card-text"> Русский писатель, мыслитель, философ и публицист. Член-корреспондент
                            Петербургской академии наук с 1877 года. Классик мировой литературы, по данным ЮНЕСКО, один
                            из самых читаемых писателей в мире. Собрание сочинений Достоевского состоит из 12 романов,
                            четырёх новелл, 16 рассказов и множества других произведений.</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%94%D0%BE%D1%81%D1%82%D0%BE%D0%B5%D0%B2%D1%81%D0%BA%D0%B8%D0%B9,_%D0%A4%D1%91%D0%B4%D0%BE%D1%80_%D0%9C%D0%B8%D1%85%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2%D0%B8%D1%87" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../static/books/Griboyedov.jpg" class="card-img-top" alt="Изображение 3">
                    <div class="card-body">
                        <h5 class="card-title">Александр Сергеевич Грибоедов</h5>
                        <p class="card-text">русский писатель, прозаик, драматург, дипломат, лингвист, историк, востоковед, пианист и композитор.
                            Статский советник (1828). Грибоедов известен прежде всего благодаря своей пьесе в стихах «Горе от ума» (1824),
                            которую до сих пор часто ставят в театрах России. Она послужила источником многочисленных крылатых фраз.</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%93%D1%80%D0%B8%D0%B1%D0%BE%D0%B5%D0%B4%D0%BE%D0%B2,_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80_%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B5%D0%B2%D0%B8%D1%87" class="btn btn-primary">Читать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}